body
{
    /* "color" is the text color */
    color: blue;  
    background-color: green;
    font-family: Courier; 
    font-size: 20px;  /* 20 pixels */
    font-weight: bold;  /* bold, normal, or number (such as 300) */
    font: normal 16px Arial
}

/* apply a global style to the links on the page */
a{
    text-decoration: none;  /* it removes the underlines of each link */
    color: gold;
}

a:hover
{
    color: brown;  /* The links' text turn brown when our mouse hovers on them. */
}
    
a:active
{
    color: blue;  /* The links' text turn blue when we click on them. */
}

/*
a:visited
{
    color: gray; /* The links' text turn gray once those links are visited. */
}
*/

.container
{
    width: 80%;  /* the "container" contains the box */
    margin: auto;  /* the margin is "auto" means that the container will be centered in the page */
                   /* the default margin is left-justified (the container will be put on the left side of the page) */
}

.box-1
{
    background-color: #333;
    color: #FFF;
    border-top: 15px red solid;
    border-right: 10px brown solid;
    border-bottom: 15px red solid;
    border-left: 10px brown solid;
 
    padding-top = 30px;
    padding-right = 20px;
    padding-bottom = 30px;
    padding-left = 20px;
    
    margin-top: 50px;  /*the empty space at the top of the box */
}

.box-1 h1
{
    font-family: Tahoma;
    font-weight: 200;
    font-style: italic;
    text-decoration: underline;
}

.box-2
{
    background-color: orange;
    color: teal;
    border-top: 15px blue solid;
    border-right: 10px brown solid;
    border-bottom: 15px blue solid;
    border-left: 10px brown solid;
 
    padding-top = 30px;
    padding-right = 20px;
    padding-bottom = 30px;
    padding-left = 20px;
    
    margin-top: 50px;  /*the empty space at the top of the box */
}

.box-2 h1
{
    font-family: Helvetica;
    font-weight: 500;
    font-style: italic;
    text-decoration: underline;
}

.categories
{
    border: 5px red solid;
    padding: 15px;
    border-radius: 60px; /* the curvature of the of the border of the box */
}

.categories h2
{
    text-align: center;
}

.categories ul
{
    padding: 0;
    list-style: square; 
}